<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <title th:text="${title}"/>-->
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="max-width:600px">

<nav class="w3-sidebar w3-bar-block w3-card w3-teal" id="mySidebar">
    <div class="w3-container w3-theme-d2">
        <button onclick="closeSidebar()" class="w3-bar-item w3-button w3-xlarge w3-hover-theme" style="margin: 15px 0; padding: 0">X</button>
        <br>
    </div>
    <a class="w3-bar-item w3-button" href="/">Главная</a>
    <a class="w3-bar-item w3-button" href="/recipe/main">Рецепты</a>
    <a class="w3-bar-item w3-button" href="#">Messages</a>
</nav>

<header th:class="'w3-bar w3-card w3-theme w3-' + ${color}">
    <button class="w3-bar-item w3-button w3-xlarge w3-hover-theme" onclick="openSidebar()" style="margin: 15px 0; padding: 0 15px">&#9776;</button>
    <h2 class="w3-bar-item" style="margin: 10px 0; padding: 0 5px">Movies</h2>
</header>

<div class="w3-container">
    <br>
    <h3>index mobile</h3>
</div>

<footer class="w3-container w3-theme w3-margin-top">
    <h3>Footer</h3>
</footer>

<script>
    closeSidebar();
    function openSidebar() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function closeSidebar() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</body>
</html>