<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <title th:text="${title}"/>-->
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="template/header :: header"></header>
<!--<div class="w3-top">-->
<!--    <div class="w3-bar w3-deep-purple">-->
<!--        <a href="/" class="w3-bar-item w3-button">Home</a>-->
<!--        <a href="/" class="w3-bar-item w3-button">Состояние</a>-->
<!--        <div class="w3-dropdown-hover">-->
<!--            <button class="w3-button w3-hide-small" onclick="location.href='/recipe'">Рецепты</button>-->
<!--            <div class="w3-dropdown-content w3-bar-block w3-card-4">-->
<!--                <a onclick="location.href='/recipe/new'" class="w3-bar-item w3-button">Добавить рецепт</a>-->
<!--                <a href="/recipe/list" class="w3-bar-item w3-button">Все рецепты</a>-->
<!--                <a onclick="location.href='/recipe/show?id=17'" class="w3-bar-item w3-button">Избранное</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <a class="w3-bar-item w3-button w3-hide-small" onclick="location.href='/recipe/test'">Тест 2</a>-->
<!--        <a href="#" class="w3-bar-item w3-button w3-hide-small">Link 3</a>-->
<!--        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>-->
<!--    </div>-->
<!--    <div id="demo" class="w3-bar-block w3-deep-purple w3-hide w3-hide-large w3-hide-medium">-->
<!--        <a href="/recipe/main" class="w3-bar-item w3-button">Рецепты</a>-->
<!--        <a href="#" class="w3-bar-item w3-button">Link 2</a>-->
<!--        <a href="#" class="w3-bar-item w3-button">Link 3</a>-->
<!--    </div>-->
<!--</div>-->
<h1>Index</h1>
<a href="/hello">HELLO</a>
<a href="/add">add</a>
</body>
</html>