<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить рецепт</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <header th:insert="template/header :: header"></header>
    <div class="w3-container w3-padding">
        <div class="w3-card">
            <div class="w3-container w3-center w3-teal">
                <h2>Новый рецепт</h2>
            </div>
            <form method="post" action="/recipe/add" class="w3-selection w3-light-grey" enctype="multipart/form-data">
                <div class="w3-padding">
                    <label>Название рецепта
                        <input type="text" name="recipeName" placeholder="Название рецепта" class="w3-input w3-border w3-round-large" autofocus ><br />
                    </label>
                    <label>Категория
                        <select name="category" class="w3-select w3-border w3-round-large">
                            <option value="1">Завтраки</option>
                            <option value="2">Супы</option>
                            <option value="3">Основные блюда</option>
                            <option value="4">Выпечка и десерты</option>
                            <option value="5">Сэндвичи</option>
                            <option value="6">Паста и пицца</option>
                            <option value="7">Салаты</option>
                            <option value="8">Соусы</option>
                            <option value="9">Напитки</option>
                        </select><br /><br />
                    </label>
                    <label>Количество порций
                        <select name="listportion" class="w3-select w3-border w3-round-large">
                            <option value="1">1 порция</option>
                            <option selected value="2">2 порции</option>
                            <option value="3">3 порции</option>
                            <option value="4">4 порции</option>
                            <option value="5">5 порций</option>
                            <option value="6">6 порций</option>
                            <option value="7">7 порций</option>
                            <option value="8">8 порций</option>
                            <option value="9">9 порций</option>
                            <option value="10">10 порций</option>
                        </select><br /><br />
                    </label>
                    <label>Время приготовления
                        <br/>
                        <select name="listhour" class="w3-border w3-round-large" style="padding:9px 0;width:10%;border:none;border-bottom:1px solid #ccc">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        часов
                        <select name="listminut" class="w3-border w3-round-large" style="padding:9px 0;width:10%;border:none;border-bottom:1px solid #ccc">
                            <option value="0">0</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>
                            <option value="40">40</option>
                            <option value="45">45</option>
                            <option value="50">50</option>
                            <option value="55">55</option>
                        </select>
                        минут
                        <br /><br />
                    </label>
                </div>
                <div class="w3-panel  w3-center w3-teal">
                    <h4>Фотографии</h4>
                </div>
                <div class="w3-padding" id="formPhoto">
                    <label id="photo0">
                        <br>
                        <div class="w3-row">
                            <div class="w3-half">
                                <p><input type="file" name="photo" class="w3-center"></p>
                            </div>
                            <div class="w3-half"></div>
                        </div>
                    </label>
                    <div onclick="pAdd()" class="w3-padding" style="cursor: pointer">Добавить фото</div>
                </div>
                <div class="w3-panel  w3-center w3-teal">
                    <h4>Ингредиенты</h4>
                </div>
                <div class="w3-padding" id="formIng">
                    <label id="ingredient0">
                        <div class="w3-row">
                            <div class="w3-half">
                                <div style="padding: 8px 16px">Ингредиент</div>
                            </div>
                            <div class="w3-half"></div>
                        </div>
                        <br />
                        <input type="text" name="ingName" class="w3-input w3-border w3-round-large" placeholder="Название ингредиента"><br />
                        <div class="w3-row">
                            <div class="w3-half">
                                <input type="number" name="quantity" placeholder="0" class="w3-input w3-border w3-round-large">
                            </div>
                            <div class="w3-half">
                                <select name="measure" class="w3-select w3-border w3-round-large">
                                    <option value="0">грамм</option>
                                    <option value="1">килограмм</option>
                                    <option value="2">миллилитр</option>
                                    <option value="3">литр</option>
                                    <option value="4">по вкусу</option>
                                    <option value="5">на кончике ножа</option>
                                    <option value="6">защепотка</option>
                                    <option value="7">чайная ложка</option>
                                    <option value="8">столовая ложка</option>
                                    <option value="9">стакан</option>
                                    <option value="10">головка</option>
                                    <option value="11">штука</option>
                                    <option value="12">кусок</option>
                                </select>
                            </div>
                        </div><br /><br />
                    </label>
                    <div onclick="iAdd()" class="w3-padding" style="cursor: pointer">Добавить ингредиент</div>
                </div>
                <div class="w3-panel  w3-center w3-teal">
                    <h4>Инструкция</h4>
                </div>
                <div class="w3-padding" id="formStp">
                    <label id="step0">
                        <div class="w3-row">
                            <div class="w3-half">
                                <div style="padding: 8px 16px">Для начала</div>
                            </div>
                            <div class="w3-half"></div>
                        </div>
                        <br />
                        <textarea name="step" class="w3-input w3-border w3-round-large" style="resize: vertical" placeholder="Описание"></textarea>
                        <br /><br />
                    </label>
                    <div onclick="sAdd()" class="w3-padding" style="cursor: pointer">Добавить шаг</div>
                </div>
                <br />
                <div class="w3-row w3-padding">
                    <div class="w3-container w3-quarter"></div>
                    <div class="w3-container w3-quarter">
                        <div class="w3-block w3-btn w3-deep-orange w3-round-large" onclick="location.href='/recipe/main'">Отмена</div>
                    </div>
                    <div class="w3-container w3-quarter">
                        <button type="submit" class="w3-block w3-btn w3-teal w3-round-large">Добавить</button>
                    </div>
                    <div class="w3-container w3-quarter"></div>
                </div>
                <br />
            </form>
        </div>
    </div>
</body>
</html>