<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="template/header :: header"></header>
<div class="w3-container w3-padding">

    <div class="w3-card w3-light-grey">
        <div th:class="'w3-container w3-center w3-row w3-' + ${color}">
            <div class="w3-third w3-container"></div>
            <div class="w3-third w3-container w3-center">
                <h2>Все рецепты</h2>
            </div>
            <div class="w3-third w3-container"></div>
        </div>
    </div>
    <ul class="w3-ul w3-card-4 w3-hoverable" style="cursor: pointer">
        <th:block th:each="item: ${list}">
            <li>
                <a th:href="'/recipe/' + ${item.getLinkWithId()}">
                    <div class="w3-bar">
                        <img src="/img/No-Image-Found.png" alt="123" class="w3-bar-item w3-circle w3-hide-small"
                             style="width:85px; box-sizing: content-box" th:if="${item.getNamesMainImage()[0] == ''}">
                        <img th:src="'/upload/' + ${item.getId()} + '/mini/' + ${item.getNamesMainImage()[0]}" alt="123"
                             class="w3-bar-item w3-circle w3-hide-small" style="width:85px; box-sizing: content-box"
                             th:if="${item.getNamesMainImage()[0] != ''}">
                        <div class="w3-bar-item">
                            <span class="w3-large" th:text="${item.getRecipeName()}"></span><br>
                            <span th:text="${item.getTime()}"></span>
                        </div>
                    </div>
                </a>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>