<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все рецепты</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="max-width:600px">
    <div th:insert="template/headerMobile :: headerMobile"></div>
    <ul class="w3-ul w3-card-4 w3-hoverable" style="cursor: pointer">
        <li>
            <a href="/recipe/list?category=breakfast">
                <div class="w3-bar">
<!--                    <img src="/img/No-Image-Found.png" alt="123" class="w3-bar-item w3-circle w3-hide-small"-->
<!--                         style="width:85px; box-sizing: content-box" th:if="${item.getNamesMainImage()[0] == ''}">-->
<!--                    <img th:src="'/upload/' + ${item.getId()} + '/mini/' + ${item.getNamesMainImage()[0]}" alt="123"-->
<!--                         class="w3-bar-item w3-circle w3-hide-small" style="width:85px; box-sizing: content-box"-->
<!--                         th:if="${item.getNamesMainImage()[0] != ''}">-->
                    <div class="w3-bar-item w3-large">Завтраки</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/recipe/list?category=soups">
                <div class="w3-bar">
                    <div class="w3-bar-item w3-large">Супы</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/recipe/list?category=main-dishes">
                <div class="w3-bar">
                    <div class="w3-bar-item w3-large">Основные блюда</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/recipe/list?category=baking-and-Desserts">
                <div class="w3-bar">
                    <div class="w3-bar-item w3-large">Выпечка и десерты</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/recipe/list?category=sandwiches">
                <div class="w3-bar">
                    <div class="w3-bar-item w3-large">Сэндвичи</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/recipe/list?category=pasta-and-Pizza">
                <div class="w3-bar">
                    <div class="w3-bar-item w3-large">Паста и пицца</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/recipe/list?category=salads">
                <div class="w3-bar">
                    <div class="w3-bar-item w3-large">Салаты</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/recipe/list?category=sauces">
                <div class="w3-bar">
                    <div class="w3-bar-item w3-large">Соусы</div>
                </div>
            </a>
        </li>
        <li>
            <a href="/recipe/list?category=beverages">
                <div class="w3-bar">
                    <div class="w3-bar-item w3-large">Напитки</div>
                </div>
            </a>
        </li>
    </ul>
</body>
</html>