<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.getRecipeName()}"></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/lightbox.css"/>
    <!--    <script src="/js/lightbox-plus-jquery.min.js"></script>-->
</head>
<body>
<header th:insert="template/header :: header"></header>
<div class="w3-container w3-padding">

    <div class="w3-card w3-light-grey">
        <div class="w3-container w3-center w3-row w3-teal">
            <div class="w3-third w3-container">
                <h4 th:text="${recipe.getCategory()}"></h4>
            </div>
            <div class="w3-third w3-container w3-center">
                <h2 th:text="${recipe.getRecipeName()}"></h2>
            </div>
            <div class="w3-third w3-container" style="vertical-align: middle">
                <h4 style="vertical-align: middle" th:text="${recipe.getTime()}"></h4>
            </div>
        </div>
        <br/>
        <div class="w3-panel  w3-center" th:if="${recipe.getNamesMainImage()[0] != ''}">
            <div>
                <th:block th:each="item : ${recipe.getNamesMainImage()}">
                    <a th:href="'/upload/' + ${recipe.getId()} + '/' + ${item}" data-lightbox="roadtrip">
                        <img class="w3-border w3-hover-opacity" th:alt="${item}"
                             th:src="'/upload/' + ${recipe.getId()} + '/mini/' + ${item}">
                    </a>
                </th:block>
            </div>
        </div>
        <div class="w3-panel  w3-center">
            <h4>Ингредиенты на
                <select id="selectBox" onchange="changeFunc()" style="border: none; background-color: #f1f1f1">
                    <option th:selected="${recipe.getPortion() == 1}" value="1">1 порцию</option>
                    <option th:selected="${recipe.getPortion() == 2}" value="2">2 порции</option>
                    <option th:selected="${recipe.getPortion() == 3}" value="3">3 порции</option>
                    <option th:selected="${recipe.getPortion() == 4}" value="4">4 порции</option>
                    <option th:selected="${recipe.getPortion() == 5}" value="5">5 порций</option>
                    <option th:selected="${recipe.getPortion() == 6}" value="6">6 порций</option>
                    <option th:selected="${recipe.getPortion() == 7}" value="7">7 порций</option>
                    <option th:selected="${recipe.getPortion() == 8}" value="8">8 порций</option>
                    <option th:selected="${recipe.getPortion() == 9}" value="9">9 порций</option>
                    <option th:selected="${recipe.getPortion() == 10}" value="10">10 порций</option>
                </select></h4>
        </div>
        <div class="w3-padding" id="formIng">
            <th:block th:each="item : ${recipe.getIngredients()}">
                <div class="w3-panel w3-border-bottom w3-row w3-border-teal" th:if="${item.getIngredientName() != ''}">
                    <div class="w3-half w3-center">
                        <p th:text="${item.getIngredientName()}"></p>
                    </div>
                    <div class="w3-half w3-center">
                        <p th:text="${item.getQuantity()} + ' ' + ${item.getMeasure()}"></p>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="w3-panel  w3-center ">
            <h4>Инструкция</h4>
        </div>
        <div class="w3-padding" id="formStp">
            <ul class="w3-ul">
                recipe.getSteps()

            </ul>
        </div>
        <br/>
        <div class="w3-row w3-padding">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-quarter">
                <div class="w3-block w3-btn w3-deep-orange w3-round-large">Придумать назначение</div>
            </div>
            <div class="w3-container w3-quarter">
                <div class="w3-block w3-btn  w3-round-large w3-teal"
                     onclick="location.href='/recipe/edit?id=<%out.print(id);%>'">Редактировать
                </div>
            </div>
            <div class="w3-container w3-quarter"></div>
        </div>
        <br/>
    </div>
</div>
</body>
</html>